<div class="edit-note">
  <div class="form">
    <div class="form-input">
      <input class="form-message" placeholder= "type a message">
    </div>
    <input class="form-submit" type="submit" value="保存">
  </div>
</div>
