<div class="main-note">
  <div class="note-header">
    <div class="folder-title">
      <%= @folder.name %>
    </div>
    <div class="note-header">
        <div class="create-note">
          <a href="#">➕新規ノート</a>
        </div>
    </div>
  </div>
  <%= render partial: 'notes', collection: @notes %>
</div>