<div class="main-note">
  <div class="note-header">
    <div class="folder-title">
      hogefuga
    </div>
    <div class="note-header">
        <div class="create-note">
          <a href="#">➕新規ノート</a>
        </div>
    </div>
  </div>
  <div class="note">
    <div class="note-title">
      hoge
    </div>
    <div class="note-content">
      hogehogehoge
    </div>
    <div class="note-user">
      Tom
    </div>
    <div class="note-date">
      2020/3/31(Wed) 12:43:30
    </div>
  </div>
</div>