<div class="note">
    <div class="note-content">
      <%= notes.content %>
    </div>
    <div class="note-user">
      <%= notes.user.name %>
    </div>
    <div class="note-date">
      <%= notes.created_at %>
    </div>
  </div>