
<div class="create-folder">
    <%= link_to "➕新規フォルダを作成", "hoge" %>
</div>

<div class="side-contents">
  <div class="folder">
    <div class="folder-name">
      <a href="#">techroom1</a>
    </div>
  </div>
</div>