
<div class="create-folder">
    <%= link_to "➕新規フォルダを作成", new_folder_path %>
</div>

<div class="side-contents">
  <% current_user.folders.each do |folder| %>
    <div class="folder">
      <div class="folder-name">
        <a href="#"><%= folder.name %></a>
      </div>
    </div>
  <% end %>
</div>