<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-note">
    <%= render "main_note" %>
  </div>
  <div class="edit-note">
    <%= render "edit_note" %>
  </div>
</div>
