<%= render "shared/header" %>
<div class='wrapper'>
  <div class='side-bar'>
    <%= render "notes/side_bar" %>
  </div>
  <div class="main-note">
    <%= render "notes/main_note" %>
  </div>
  <div class="edit-note">
    <%= render "notes/edit_note" %>
  </div>
</div>