<header class="header">
  <div class="logo">
    <%= link_to "Note App", root_path %>
  </div>
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
</header>